### datetime 오브젝트

In [1]:
# datetime 라이브러리
from datetime import datetime

In [4]:
# 현재 시간
print(datetime.now())
print(datetime.today())

2021-09-30 01:05:18.329499
2021-09-30 01:05:18.329499

In [5]:
# 시간 입력
print(datetime(2017, 12, 21))

2017-12-21 00:00:00

In [6]:
# 시간 계산 
t1 = datetime.now( ) 
t2 = datetime(2017, 12, 21) 
print(t1-t2)

1379 days, 1:06:56.044395

In [29]:
# datetime 오브젝트로 변환하기 - to_datetime
test_df = pd.DataFrame({'order_day':['01/01/15', '02/01/15', '03/01/15']})
test_df['date_dt'] = pd.to_datetime(test_df['order_day'], format='%d/%m/%y') 
print(test_df)

  order_day    date_dt
0  01/01/15 2015-01-01
1  02/01/15 2015-01-02
2  03/01/15 2015-01-03

In [24]:
# 날짜 정보 추출하기 
date_series = pd.Series(['2018-05-16', '2018-05-17', '2018-05-18']) 
d1 = pd.to_datetime(date_series) 
print(d1)

0   2018-05-16
1   2018-05-17
2   2018-05-18
dtype: datetime64[ns]

In [25]:
print(d1[0].year)
print(d1[0].month)
print(d1[0].day)

2018
5
16

In [37]:
# dt 접근자
test_df['year'], test_df['month'], test_df['day'] = (
    test_df['date_dt'].dt.year, 
    test_df['date_dt'].dt.month, 
    test_df['date_dt'].dt.day)
print(test_df)

  order_day    date_dt  year  month  day
0  01/01/15 2015-01-01  2015      1    1
1  02/01/15 2015-01-02  2015      1    2
2  03/01/15 2015-01-03  2015      1    3

In [38]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   order_day  3 non-null      object
 1   date_dt    3 non-null      datetime64[ns]
 2   year       3 non-null      int64
 3   month      3 non-null      int64
 4   day        3 non-null      int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 248.0+ bytes

### 사례별 시계열 데이터 계산하기

In [5]:
# 테슬라 주식 데이터 
pip install pandas-datareader

Requirement already satisfied: pandas-datareader in c:\users\fullm\anaconda3\lib\site-packages (0.10.0)
Requirement already satisfied: pandas>=0.23 in c:\users\fullm\anaconda3\lib\site-packages (from pandas-datareader) (1.2.4)
Requirement already satisfied: lxml in c:\users\fullm\anaconda3\lib\site-packages (from pandas-datareader) (4.6.3)
Requirement already satisfied: requests>=2.19.0 in c:\users\fullm\anaconda3\lib\site-packages (from pandas-datareader) (2.25.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\fullm\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (1.20.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\fullm\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\fullm\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\fullm\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\fullm\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\fullm\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\fullm\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\fullm\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2020.12.5)
Note: you may need to restart the kernel to use updated packages.

In [8]:
pd.core.common.is_list_like = pd.api.types.is_list_like
import pandas_datareader as pdr

In [44]:
tesla = pdr.get_data_quandl('TSLA', api_key = 'UVixeoVgnzNNyUtKmsB_')
tesla = tesla.reset_index()
tesla.head()

,Date,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
0,2018-03-27,304.00,304.27,277.18,279.18,13696168.0,0.0,1.0,304.00,304.27,277.18,279.18,13696168.0
1,2018-03-26,307.34,307.59,291.36,304.18,8324639.0,0.0,1.0,307.34,307.59,291.36,304.18,8324639.0
2,2018-03-23,311.25,311.61,300.45,301.54,6600538.0,0.0,1.0,311.25,311.61,300.45,301.54,6600538.0
3,2018-03-22,313.89,318.82,308.18,309.10,4914307.0,0.0,1.0,313.89,318.82,308.18,309.10,4914307.0
4,2018-03-21,310.25,322.44,310.19,316.53,5927881.0,0.0,1.0,310.25,322.44,310.19,316.53,5927881.0

In [38]:
tesla.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372 entries, 0 to 371
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        372 non-null    datetime64[ns]
 1   Open        372 non-null    float64
 2   High        372 non-null    float64
 3   Low         372 non-null    float64
 4   Close       372 non-null    float64
 5   Volume      372 non-null    float64
 6   ExDividend  372 non-null    float64
 7   SplitRatio  372 non-null    float64
 8   AdjOpen     372 non-null    float64
 9   AdjHigh     372 non-null    float64
 10  AdjLow      372 non-null    float64
 11  AdjClose    372 non-null    float64
 12  AdjVolume   372 non-null    float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 37.9 KB

In [49]:
# DatetimeIndex
tesla.index = tesla['Date']
print(tesla.index)

DatetimeIndex(['2018-03-27', '2018-03-26', '2018-03-23', '2018-03-22',
               '2018-03-21', '2018-03-20', '2018-03-19', '2018-03-16',
               '2018-03-15', '2018-03-14',
               ...
               '2016-10-14', '2016-10-13', '2016-10-12', '2016-10-11',
               '2016-10-10', '2016-10-07', '2016-10-06', '2016-10-05',
               '2016-10-04', '2016-10-03'],
              dtype='datetime64[ns]', name='Date', length=372, freq=None)

In [52]:
print(tesla.loc['2016'].iloc[:5, :5])

                 Date    Open    High       Low   Close
Date
2016-12-30 2016-12-30  216.30  217.50  211.6800  213.69
2016-12-29 2016-12-29  218.56  219.20  214.1225  214.68
2016-12-28 2016-12-28  221.53  223.80  217.2000  219.74
2016-12-27 2016-12-27  214.88  222.25  214.4200  219.53
2016-12-23 2016-12-23  208.00  213.45  207.7100  213.34

In [57]:
# TimedeltaIndex
tesla['ref_date'] = tesla['Date'] - tesla['Date'].min( ) 
tesla.index = tesla['ref_date']
print(tesla.iloc[:5, :5])

               Date    Open    High     Low   Close
ref_date
540 days 2018-03-27  304.00  304.27  277.18  279.18
539 days 2018-03-26  307.34  307.59  291.36  304.18
536 days 2018-03-23  311.25  311.61  300.45  301.54
535 days 2018-03-22  313.89  318.82  308.18  309.10
534 days 2018-03-21  310.25  322.44  310.19  316.53

In [56]:
print(tesla['5 days':].iloc[:5, :5])

               Date    Open      High     Low   Close
ref_date
4 days   2016-10-07  201.00  201.3200  195.80  196.61
3 days   2016-10-06  202.46  204.2099  200.21  201.00
2 days   2016-10-05  212.24  213.1500  208.12  208.46
1 days   2016-10-04  213.10  213.3200  208.82  211.41
0 days   2016-10-03  212.30  215.6688  208.25  213.70

In [6]:
# 시간 범위와 인덱스 
import pandas as pd
import os
ebola = pd.read_csv('https://raw.githubusercontent.com/easysIT/doit_pandas/master/data/country_timeseries.csv',parse_dates=[0])
print(ebola.iloc[:5,:5]) # 2015-01-01 누락 
print(ebola.iloc[-5:,:5]) # 2014-03-23 누락

        Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0 2015-01-05  289        2776.0            NaN            10030.0
1 2015-01-04  288        2775.0            NaN             9780.0
2 2015-01-03  287        2769.0         8166.0             9722.0
3 2015-01-02  286           NaN         8157.0                NaN
4 2014-12-31  284        2730.0         8115.0             9633.0
          Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
117 2014-03-27    5         103.0            8.0                6.0
118 2014-03-26    4          86.0            NaN                NaN
119 2014-03-25    3          86.0            NaN                NaN
120 2014-03-24    2          86.0            NaN                NaN
121 2014-03-22    0          49.0            NaN                NaN

In [7]:
head_range = pd.date_range(start='2014-12-31', end='2015-01-05')
head_range

DatetimeIndex(['2014-12-31', '2015-01-01', '2015-01-02', '2015-01-03',
               '2015-01-04', '2015-01-05'],
              dtype='datetime64[ns]', freq='D')

In [9]:
ebola_5 = ebola.head( ) 
ebola_5.index = ebola_5['Date'] 
ebola_5.reindex(head_range) 
ebola_5.iloc[:5, :5]

                 Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
Date
2015-01-05 2015-01-05  289        2776.0            NaN            10030.0
2015-01-04 2015-01-04  288        2775.0            NaN             9780.0
2015-01-03 2015-01-03  287        2769.0         8166.0             9722.0
2015-01-02 2015-01-02  286           NaN         8157.0                NaN
2014-12-31 2014-12-31  284        2730.0         8115.0             9633.0