1. 필요한 라이브러리를 가져옵니다.

In [93]:
import pandas as pd
import lightgbm as lgbm

2. 데이터를 불러옵니다.

In [94]:
!wget 'https://bit.ly/3i4n1QB'

import zipfile
with zipfile.ZipFile('3i4n1QB', 'r') as existing_zip:
    existing_zip.extractall('data')

--2021-11-15 10:28:25--  https://bit.ly/3i4n1QB
Resolving bit.ly (bit.ly)... 67.199.248.10, 67.199.248.11
Connecting to bit.ly (bit.ly)|67.199.248.10|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://drive.google.com/uc?export=download&id=1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw [following]
--2021-11-15 10:28:25--  https://drive.google.com/uc?export=download&id=1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw
Resolving drive.google.com (drive.google.com)... 172.217.214.138, 172.217.214.100, 172.217.214.113, ...
Connecting to drive.google.com (drive.google.com)|172.217.214.138|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://doc-10-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/hr9cboqcoaj9bocfti6vubmo0envulvs/1636972050000/17946651057176172524/*/1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw?e=download [following]
Warning: wildcards not supported in HTTP.
--2021-11-15 10:28:26--  https://doc-10-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/hr9cboqcoaj9bocfti6vubmo0envulvs/1636972050000/17946651057176172524/*/1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw?e=download
Resolving doc-10-10-docs.googleusercontent.com (doc-10-10-docs.googleusercontent.com)... 108.177.112.132, 2607:f8b0:4001:c12::84
Connecting to doc-10-10-docs.googleusercontent.com (doc-10-10-docs.googleusercontent.com)|108.177.112.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 137694 (134K) [application/zip]
Saving to: ‘3i4n1QB.2’

3i4n1QB.2           100%[===================>] 134.47K  --.-KB/s    in 0.001s

2021-11-15 10:28:26 (94.5 MB/s) - ‘3i4n1QB.2’ saved [137694/137694]

In [95]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')
smpl_sub = pd.read_csv('data/sample_submission.csv')

In [96]:
train.head()

   index  quality  fixed acidity  ...  sulphates  alcohol   type
0      0        5            5.6  ...       0.44     10.2  white
1      1        5            8.8  ...       0.59      9.5    red
2      2        5            7.9  ...       0.52     10.9  white
3      3        6            7.0  ...       0.50     10.8  white
4      4        6            7.8  ...       0.43     10.9  white

[5 rows x 14 columns]

In [97]:
test.head()

   index  fixed acidity  volatile acidity  ...  sulphates  alcohol   type
0      0            9.0              0.31  ...       0.38     11.6  white
1      1           13.3              0.43  ...       0.49      9.0    red
2      2            6.5              0.28  ...       0.69      9.4  white
3      3            7.2              0.15  ...       0.47     10.0  white
4      4            6.8              0.26  ...       0.47     11.8  white

[5 rows x 13 columns]

3. 변수를 변환합니다.

In [98]:
# type에는 white와 red 두 종류가 있습니다.
# 각각 0,1로 변환합니다.
train["type"] = train["type"].apply(lambda x: 0 if x=="white" else 1)
test["type"] = test["type"].apply(lambda x: 0 if x=="white" else 1)

In [99]:
train.head()

   index  quality  fixed acidity  ...  sulphates  alcohol  type
0      0        5            5.6  ...       0.44     10.2     0
1      1        5            8.8  ...       0.59      9.5     1
2      2        5            7.9  ...       0.52     10.9     0
3      3        6            7.0  ...       0.50     10.8     0
4      4        6            7.8  ...       0.43     10.9     0

[5 rows x 14 columns]

In [100]:
test.head()

   index  fixed acidity  volatile acidity  ...  sulphates  alcohol  type
0      0            9.0              0.31  ...       0.38     11.6     0
1      1           13.3              0.43  ...       0.49      9.0     1
2      2            6.5              0.28  ...       0.69      9.4     0
3      3            7.2              0.15  ...       0.47     10.0     0
4      4            6.8              0.26  ...       0.47     11.8     0

[5 rows x 13 columns]

In [102]:
# 모델에 입력하기 전 데이터를 정형합니다.
# train_x : train의 'index', 'quality' 피처를 제거하고 저장합니다.
# train_y : train의 'quality'를 저장합니다.
# test_x : test의 'index'를 제거하고 저장합니다.
train_x = train.iloc[:,2:]
train_y = train['quality']
test_x = test.iloc[:,1:]

In [103]:
train_x.shape, train_y.shape, test_x.shape

((5497, 12), (5497,), (1000, 12))

In [104]:
train_x.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  type
0            5.6             0.695         0.06  ...       0.44     10.2     0
1            8.8             0.610         0.14  ...       0.59      9.5     1
2            7.9             0.210         0.39  ...       0.52     10.9     0
3            7.0             0.210         0.31  ...       0.50     10.8     0
4            7.8             0.400         0.26  ...       0.43     10.9     0

[5 rows x 12 columns]

In [105]:
train_y.head()

0    5
1    5
2    5
3    6
4    6
Name: quality, dtype: int64

In [106]:
test_x.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  type
0            9.0              0.31         0.48  ...       0.38     11.6     0
1           13.3              0.43         0.58  ...       0.49      9.0     1
2            6.5              0.28         0.27  ...       0.69      9.4     0
3            7.2              0.15         0.39  ...       0.47     10.0     0
4            6.8              0.26         0.26  ...       0.47     11.8     0

[5 rows x 12 columns]

4. LightGBM 모델을 생성 및 훈련합니다.

In [107]:
from lightgbm import LGBMClassifier

lgbm_wrapper = LGBMClassifier()
lgbm_wrapper.fit(train_x, train_y)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

5. 생성한 모델로 예측 데이터를 생성합니다.

In [108]:
pred = lgbm_wrapper.predict(test_x)

6. 제출파일을 생성합니다.

In [109]:
smpl_sub.head()

   index  quality
0      0        0
1      1        0
2      2        0
3      3        0
4      4        0

In [110]:
#서브미션 파일의 quality 변수에 예측값을 대입합니다.
smpl_sub['quality'] = pred

In [111]:
smpl_sub.head()

   index  quality
0      0        5
1      1        5
2      2        5
3      3        5
4      4        6

In [112]:
# csv 파일로 저장합니다.
smpl_sub.to_csv('submission.csv', index=False)