# **1. 단순 선형 회귀 분석**
전복의 나이를 예측하는 선형회귀모델을 생성하세요.
전복의 ‘성별’, ‘키’, ‘지름’, ‘높이’, ‘전체무게’, ‘몸통무게’, ‘내장무게’, ‘껍질무게’를 입력하면 ‘껍질의 고리수’를 예측한 뒤 예측된 ‘껍질의 고리수’에 1.5를 더하면 전복의 나이가 됩니다.

In [1]:
# 기본 모듈 불러오기
import numpy as np
import pandas as pd

**1) 데이터 load 및 변형**

In [2]:
# 데이터 로드
data = pd.read_csv("C:/Users/fullm/Downloads/abalone.csv")
data.head()
print(data.shape)

# 성별 M은 Male, F는 Female, I는 Infant 이므로 따로 열 만들기
for label in "MFI":
    data[label] = data["Sex"] == label
data.drop('Sex', axis=1, inplace=True)

(4177, 9)

In [3]:
data.head()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings,M,F,I
0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15,True,False,False
1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7,True,False,False
2,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9,False,True,False
3,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10,True,False,False
4,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7,False,False,True

**2) X, y 선택**
: y는 Rings열, X는 Rings열을 제외한 나머지를 선택하되 전부 실수가 되도록 한다.

In [61]:
# X,y 데이터 선택
y = data['Rings']

X = data.drop('Rings',axis=1)
X["M"] = X["M"].apply(lambda x: 0 if x==False else 1)
X["F"] = X["F"].apply(lambda x: 0 if x==False else 1)
X["I"] = X["I"].apply(lambda x: 0 if x==False else 1)

 **3) train/test set 분리**

In [62]:
# 필요한 모듈 불러오기
from sklearn.model_selection import train_test_split

In [63]:
# train과 test set 분리 (train:test = 7:3 비율로)
X_train , X_test , y_train , y_test = train_test_split(X , y ,test_size=0.3, random_state=156)

**4) 선형회귀모델 생성, 모델 예측치 구하기**

In [64]:
#필요한 모듈 불러오기
from sklearn.linear_model import LinearRegression

In [65]:
#선형회귀모델 생성 및 훈련
lr = LinearRegression()
lr.fit(X_train ,y_train )

LinearRegression()

In [66]:
# 모델 예측치 구하기
y_preds = lr.predict(X_test)
y_preds

array([11.43605621,  8.81680051,  8.55943354, ..., 10.98281237,
        9.29055844,  6.38127031])

**5) 모델 평가: MSE, RMSE, R2 score, corr 구하기**

In [67]:
#필요한 모듈 불러오기
from sklearn.metrics import mean_squared_error , r2_score

- MSE, RMSE

In [35]:
#mse, rmse
mse = mean_squared_error(y_test, y_preds)
rmse = np.sqrt(mse)
print('MSE : {0:.3f} , RMSE : {1:.3F}'.format(mse , rmse))

MSE : 5.193 , RMSE : 2.279

- R2 score

In [36]:
#R2 score 측정
print('R2 score : {0:.3f}'.format(r2_score(y_test, y_preds)))

R2 score : 0.486

- 회귀 절편값

In [37]:
#회귀 절편 값
print('절편 값:',lr.intercept_)

절편 값: 3.2483955450025315

- 회귀 계수 값

In [38]:
#회귀 계수 값
print('회귀 계수값:', np.round(lr.coef_, 1))

회귀 계수값: [ -2.7  11.2  24.2   9.6 -20.2 -11.6   6.6   0.3   0.2  -0.5]

- 상관계수

Hint: corr 함수 이용.

In [96]:
y_test = y_test.reset_index()['Rings']
yy = pd.concat([y_test, pd.DataFrame(y_preds)],axis=1)
yy.rename(columns={'Rings':'test',0:'pred'})

      test       pred
0       10  11.436056
1        8   8.816801
2        9   8.559434
3       15   9.630772
4        4   4.680213
...    ...        ...
1249    10  10.264388
1250    10   7.880433
1251    10  10.982812
1252    10   9.290558
1253     8   6.381270

[1254 rows x 2 columns]

In [97]:
# 상관계수 구하기
yy.corr() # 0.7

          Rings         0
Rings  1.000000  0.701207
0      0.701207  1.000000